html {
  padding: none;
  margin: none;
  height: 100vh;

  background-attachment: fixed;

  /* Image from SVGBackgrounds.com */
  background-color: #211333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.main_bg {
  height: 100vh;

  display: grid;
  grid-template-columns: 200px 400px 1000px 300px;
  grid-template-rows: 200px 400px 250px; 
}

.card {
  border-radius: 20px;
  background-color: rgb(70, 6, 122);

  opacity: 0.8;

  box-shadow: 0 0 50px 15px #a657d3;
}

.img_card {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.main_desc {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-start: 2;

  margin-left: 50px;
  height: 400px;
}

.arjun_image {
  height: 300px;
  width: 325px;

  padding-left: 35px;
  padding-right: 35px;
  padding-top: 45px;
}

.hi_title {
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
}

.desc_text {
  font-family: 'Ubuntu Mono', 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 19px;
}

.findme_card {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  margin-top: 30px;

  display: flex;
  justify-content: center;

  width: 1450px;
}

.findme_text {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Ubuntu Mono", 'Segoe UI', Tahoma, Verdana, sans-serif;
  padding-left: 35px;
  font-size: 30px;
  font-weight: bold;
}

.findme_img {
  margin-left: 40px;
  margin-right: 40px;

  padding: 20px;
}

.findme_img:hover {
  cursor: pointer;
  transition: 1s;
  background: transparent;
  /* border: 2px solid #a657d3; */
  border-radius: 20px;
  box-shadow: 0 0 50px 5px #3890ca;
}

.skills_title {
  font-family: "Ubuntu";
  font-size: 30px;
  color: white;
  text-align: center;
}

.skills_container {
  display: flex;
  justify-content: center;
}

.skill_img {
  justify-content: center;
  height: 100px;
  width: auto;

  padding-left: 10px;
  padding-right: 10px;
}

.skill_img:hover {
  transform: translateY(-10px);
  transition: 1s;
}